/* Estilos para el formulario de tareas */
.todo-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.todo-form label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.todo-form input,
.todo-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.todo-form input:focus,
.todo-form textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

.todo-form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.todo-form button:hover {
  background: #0056b3;
}

.todo-form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.todo-form div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.todo-form button {
  flex: 1;
}

.buttonForm {
  margin: 2px;
  width: 100%;
}

.buttonFormCancel {
  margin: 2px;
  width: 100%;
  background: #ce2e2e !important;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

/* media queries */
@media (max-width: 600px) {
  .todo-form {
    padding: 15px;
  }

  .todo-form input,
  .todo-form textarea {
    font-size: 0.9rem;
  }

  .todo-form button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
  .form-buttons {
    /* uno debajo de otro */
    flex-direction: column;
    align-items: stretch;
    /* ancho completo   */
    width: 100%;
    /* letras completas */
    font-size: 0.9rem;
  }
}
